#nosotros p,#services p, #infocontact {
	text-align: justify;
}

.modal-body{
	align-content: center;
	text-align: center;
}

#btn_registro{
	margin-left: 45%;
}

#footer{
	text-align: center;
}

#solicitud label{
	color: #fff;
}
h6 {
  text-align: left;
  color: orange;
  padding-bottom: 50px;
}